:root {
  /* Colors */
  --primary: #4a72ff;
  --primary-light: rgba(74, 114, 255, 0.05);
  --dark: #0c1b4d;
  --dark-light: rgba(12, 27, 77, 0.6);
  --dark-extra: rgba(12, 27, 77, 0.1);
  --spacing: #ffd39f;
  --white: #f4f7ff;

  /* Shadow */
  --primary-shadow: 0 30px 60px 0 rgba(74, 114, 255, 0.1);

  /* Font-Sizes */
  /* 28px, 16px, 14px, 18px */
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 28px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 34px;

  /* Fonts */
  --font-dm: "DM Sans", sans-serif;
  --font-source: "Source Sans Pro", sans-serif;
}

/* Global-CSS */
body {
  background: linear-gradient(180deg, #eef2ff, rgba(238, 242, 255, 0));
  min-height: 100vh;
  font-family: var(--font-dm);
  font-size: var(--font-size-s);
  color: var(--dark-light);
  line-height: 1.1;
}

.container {
  max-width: 1024px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Same with primary/secondary button */
.button {
  padding: 16px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  font-family: var(--font-source);
  font-weight: 600;
}

.primary-button {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: var(--primary-shadow);
  width: 188px;
  height: 53px;
}

.secondary-button {
  background-color: var(--primary-light);
  color: var(--primary);
  width: 177px;
  height: 53px;
}

/* Header */
header {
  margin-top: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 160px;
  height: 48px;
}

header .logo {
  width: 35px;
}

nav {
  color: var(--dark);
  display: flex;
  gap: 62px;
}

nav a.hover,
nav a.active {
  font-weight: 500;
}

header .primary-button {
  padding: 10px 25px 10px 25px;
  gap: 10px;
}

section {
  margin-top: 72px;
  margin-bottom: 72px;
}

/* Section Part */
section .section-introduction {
  margin-left: auto;
  margin-right: auto;
  max-width: 50ch;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section .section-sub-title {
  font-size: var(--font-size-xs);
  color: var(--dark);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.1;
  font-family: var(--font-source);
}

section .section-title {
  font-family: var(--font-dm);
  color: var(--dark);
  font-size: var(--font-size-xl);
}

section .section-description {
  font-family: var(--font-source);
  color: var(--dark-light);
  font-size: var(--font-size-s);
}

/* Hero */
#hero {
  display: flex;
  align-items: center;
  gap: 24px;
}

#hero > * {
  flex: 1;
}

#hero .hero-sub-title {
  font-size: var(--font-size-xxs);
  text-transform: uppercase;
  letter-spacing: 1.1;
  color: var(--primary);
  margin-bottom: 8px;
}

#hero .hero-title {
  font-size: var(--font-size-xxl);
  color: var(--dark);
  margin-bottom: 16px;
  font-weight: 400;
}

#hero .hero-actions {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

#hero .hero-analytics {
  margin-top: 48px;
  display: flex;
  gap: 84px;
}

#hero .hero-analytics .hero-analytic-item {
  display: flex;
  gap: 16px;
}

#hero .hero-analytics .hero-analytic-item h5 {
  font-size: var(--font-size-xxs);
  margin-bottom: 4px;
  text-transform: uppercase;
}

#hero .hero-analytics .hero-analytic-item h3 {
  color: var(--dark);
  font-weight: 700;
  font-size: var(--font-size-l);
}

/* Companies */
#companies {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 48px;
  background-color: var(--primary-light);
  border-radius: 8px;
}

/* #companies > * {
  /* flex: 1; */
/* New york times looked too small so deleted that */
/*} */

#companies .company-item img {
  filter: grayscale(1);
  opacity: 0.5;
  transition: all 250ms ease-in-out;
}

#companies .company-item:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: all 250ms ease-in-out;
}

/* Feature Horizontal */

#features-horizontal .section-body {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 32px;
  text-align: center;
  flex: 1;
}

#features-horizontal .feature-item {
  flex: 1;
}

#features-horizontal .section-body .feature-item-title {
  font-size: var(--font-size-m);
  color: var(--dark);
  margin-bottom: 8px;
}

#features-horizontal .section-body .feature-item-image {
  max-height: 180px;
  margin-bottom: 16px;
}

#features-horizontal .section-body img {
  margin-left: auto;
  margin-right: auto;
}

/* Feature Vertical */

#features-vertical {
  display: flex;
  align-items: center;
}

#features-vertical > * {
  flex: 1;
}

#features-vertical .section-introduction {
  text-align: left;
  margin-bottom: 24px;
}

#features-vertical .section-body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#features-vertical .feature-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

#features-vertical .feature-item-image {
  padding: 16px;
  background-color: var(--dark-extra);
  width: 35%;
  border-radius: 8px;
}

#features-vertical .feature-item-body h3 {
  color: var(--dark);
  margin-bottom: 10px;
  font-weight: 500;
  font-family: var(--font-dm);
  font-size: var(--font-size-m);
}

#features-vertical .feature-item-body p {
  color: var(--dark-light);
  font-size: var(--font-size-s);
  font-family: var(--font-source);
}

/* Stores */

#stores {
  background-color: var(--primary);
  border-radius: 8px;
  padding: 100px 80px;
  box-shadow: var(--primary-shadow);
  position: relative;
}

#stores .section-introduction {
  margin-left: unset;
  margin-right: unset;
  text-align: left;
}

#stores .section-introduction ul {
  list-style: disc;
  margin-left: 36px;
  font-size: var(--font-size-xxs);
  opacity: 0.5;
}

#stores .section-introduction h3 {
  color: var(--white);
}

#stores .section-introduction h2 {
  color: var(--white);
}

#stores .section-introduction ul {
  color: var(--white);
}

#stores .section-body {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

#stores .store-image {
  position: absolute;
  right: 88px;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
